body {
  font-family: "Shadows Into Light",-apple-system, BlinkMacSystemFont,'Pacifico', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: "Shadows Into Light"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(19, 8, 59);
  /* background-repeat:repeat-x; */
  /* background-size:cover; */
  /* background-image: url('fondo1.jpeg'); */
  /* background-attachment: fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
